.unordered { 
list-style-type: disc; 
line-height: 170%;
} 

.nested-ul { list-style-type: square; 
}

.unordered {

    background: #fcc3f2;
    
    padding: 20px;
    
    width: 30%;
    
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    .unordered li {
    
    background: #dcb7ee;
    
    margin: 5px;
    
    }
    
    .nested-ul li {
    
    background: #EECBFF;
    
    margin: 5px;
    
    }
    .ordered {

        background: #ad86a8;
        
        padding: 20px;
        
        width: 20%;
        
        font-family: fantasy;
        
        font-size: 1.3em;
        
        }
        
        .ordered li {
        
        background: #e2defc;
        
        padding: 5px;
        
        margin-left: 20px;
        
        }
        .custom-box-list {

            margin: 0;
            
            padding: 0;
            
            list-style-type: none;
            
            }
            
            .custom-box-list li {
            
            counter-increment: step-counter;
            
            margin-bottom: 10px;
            
            }
            
            .custom-box-list li::before {
            
            content: counter(step-counter);
            
            margin-right: 5px;
            
            font-size: 80%;
            
            background-color: rgb(0, 0, 0);
            
            color: rgb(255, 255, 255);
            
            font-weight: bold;
            
            padding: 3px 8px;
            
            border-radius: 3px;
        }
        
        
        .list-image {

            list-style: none;
            
            padding-left: 0;
            
            }
            
            .list-image li {
            
            position: relative;
            
            padding-left: 30px;
            
            line-height: 170%;
            
            }
            
            .list-image li:before {
                content: '';

width: 20px;

height: 20px;

position: absolute;

background-image: url('https://i.pinimg.com/236x/cb/51/22/cb5122ef2d32389032094902c37cdc32.jpg');

background-size: cover;

background-position: center;

left: 0;

top: 50%;

transform: translateY(-50%);

}

.popular-sites {
    list-style: none;
    padding-left: 0%;
}
.popular-sites li {
    position: relative;
    padding-left: 30px;
    line-height: 170%;
}
.popular-sites li::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("https://i.pinimg.com/236x/a4/db/21/a4db2106fca0f31897580a6c93e560f9.jpg");
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

body {
    background-image: url("https://i.pinimg.com/236x/24/9d/86/249d86543a341171b3f2ed84c50f2a7d.jpg")

  }