body {
  background-color: pink;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  overflow: hidden;
}
p {
  color: black;
  text-indent: 20px;
  width: 700px;
  text-align: inherit;
  background-color: #ffd9ec;
  border-top: 15px pink;
  border-top-style: solid;
  border-radius: 10px;
}

h1 {
  color: black;
  background-color: palevioletred;
  width: 200px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;   
}

.navbar li a:hover {
    background-color: #111;
    color: white;
}
  
  

